@import "reset";
@import "fonts";
@import "variables";
@import "animate";
@import "mixins";


/* main style */

body {
  font-family: SegoeUI-Regular;
  background: #f5f5f5;
}

a {
  position: relative;
  font-size:12px;
  color:#d81e05;
  line-height:12px;

  &:hover,
  &.active {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background:#d81e05;
    }
  }
}

h1 {
  font-family: SegoeUI-Bold;
  font-size:18px;
  color:#212121;
}

h2 {
  margin: 40px 0 10px;
  font-family:SegoeUI-Bold;
  font-size:20px;
  color:#444;
}

h3 {
  margin: 20px 0 10px;
  font-family:SegoeUI-Bold;
  font-size:16px;
  color:#666;
}

h4 {
  margin: 0 0 10px;
  font-family:SegoeUI-Bold;
  font-size:14px;
  color:#888;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    color: #333;
    text-decoration: none;
  }

  &.btn-add {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    &:hover {
      background-color: #204d74;
      border-color: #122b40;
    }
  }

  &.btn-remove {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover {
      background-color: #c9302c;
      border-color: #ac2925;
    }
  }

  &.active {
    cursor: default;
    background-color: #888;
  }

}

input[type="text"],
input[type="number"] {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }

  &.error {
    border-color: #d9534f;
  }
}


/*  radio input  */

.radio,
.checkbox {
  position: relative;
  margin-bottom: 10px;

  input {
    position: absolute;
    display: none;
    visibility: hidden;
  }

  label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    height: 26px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
  }

  .check {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 3px solid #ccc;
    transition: border .25s linear;
    z-index: 5;
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      height: 8px;
      width: 8px;
      transition: background 0.25s linear;
    }

    &.check-radio {
      border-radius: 100%;
      &::before {
        border-radius: 100%;
      }
    }
  }

  input:checked ~ .check {
    border-color: #286090;
    &::before {
      background: #286090;
    }
  }

}

/* table */

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background: #ddd;
  }
}


/* index */

.content {
  position: relative;
  padding: 0 5%;
  margin-bottom: 60px;
  width: 100%;
  min-height: 100vh;
  @include clearfix();

  .insert-data,
  .get-data {
    margin-top: 20px;
  }

  .field {
    margin-bottom: 10px;
  }

  .buttons {
    margin-top: 10px;

    .checkbox {
      margin-left: 20px;
      display: inline-block;
    }
  }
}



.test {
  .cache {
    margin-top: 40px;
    h2 {
      margin-top: 10px;
      span {
        color: #66afe9;
        text-decoration: underline;
      }
    }
  }
  
  .current-data {
    @include clearfix();

    & > div {
      text-align: center;

      h3 {
        margin-top: 0;
      }

      span {
        color: #33691E;
        background: #8BC34A;
      }
    }
  }

  .circle-local {
    margin-bottom: 40px;
    span {
      width: 200px;
      height: 200px;
      line-height: 200px;
      color: #33691E;
      background: #8BC34A;
    }
  }

  .circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 28px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
  }

  .buttons {
    margin-top: 20px;
  }

}




/* grid */

.col-6 {
  float: left;
  width: 50%;
}

