

/* common */

$c-red: #a8353a;
$c-gray: #6e6e6e;
$c-footer: #a7353a;


/* media-const */

$phone: "max-width: 479px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$desktop: "max-width: 1199px";